[package]
name = "fourmik-domain"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
blake3 = "1.5"
hex = "0.4"
thiserror.workspace = true

[dev-dependencies]
